.about {
  padding: 100px 8%;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #222;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.9;
  color: #555;
}


.about-image {
  flex: 1;
  position: relative;
}

.about-image img {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}


@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    height: 300px;
  }
}
