.alumni-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px 8%;
}


.alumni-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 20px;
  transition: 0.3s ease;
}

.alumni-card:hover {
  transform: translateY(-10px);
}


.alumni-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ffc107;
  margin-bottom: 15px;
}

.alumni-card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.alumni-card p {
  font-size: 0.95rem;
  color: #555;
  margin: 6px 0;
}


@media (max-width: 900px) {
  .alumni-container {
    grid-template-columns: 1fr;
  }
}
