.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


/* ini untuk yg desktop */
@media (min-width: 768px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}