body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #222;
}

.container {
  padding: 15px;
  display: flex;
  align-items: center;

}

.container input {
  margin: 0 !important;
  margin-left: 10px !important;
}